:root {
  --width: 90%;
  --min-height: 100vh;
  --margin: 0 auto;
  --padding: 0 0.5rem;

  --primary: #14471e;
  --primary-soft: #68904d;
  --secondary: #da6a00;
  --secondary-soft: #ee9b01;
  --tertiary: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--main-bg);
  font-family: var(--font-libreBaskerville);
  color: var(--texts);
  transition: all 1s ease;
  scroll-behavior: smooth;
}

body[data-theme="light"] {
  --navbar-bg: #fffafa;
  --toggle: gray;
  --main-bg: #e1e1e1;
  --texts: #111;
  --link: #ee9b01;
  --footer-bg: rgb(161 155 155 / 47%);
  --icon: #111;
  --neumorphism: #e0e0e0;
  --box-shadow-first: #bebebe;
  --box-shadow-second: #ffffff;
  /* --bg-gradient-first: #14471e;
  --bg-gradient-second: #86833a; */
  --bg-gradient-first: #14471e;
  --bg-gradient-second: #b55712;
}



body[data-theme="dark"] {
  --navbar-bg: #000000a1;
  --toggle: gray;
  --main-bg: #111;
  --texts: #c8d2d1;
  --link: #ffffff;
  --footer-bg: rgba(0, 0, 0, 0.473);
  --icon: #ffffff;
  --neumorphism: #0c0b0b;
  --box-shadow-first: #0e0d0d;
  --box-shadow-second: #131111;
  --bg-gradient-first: #14471e;
  --bg-gradient-second: #c8d2d1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-leagueSpartan);
}

p,
button,
a,
span,
input,
textarea {
  font-family: var(--font-libreBaskerville);
}

a {
  text-decoration: none;
  color: inherit;
}

.mainContainer {
  min-height: var(--min-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: var(--width);
  margin: var(--margin);
  padding: var(--padding);
}

@media (min-width: 1024px) {
  :root {
    --max-width: 1366px;
    --padding: 0 3.75rem;
  }
  .container {
    max-width: var(--max-width);
    padding: var(--padding);
  }
}
