.background {
  background-color: var(--navbar-bg);
}

.container {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.profile {
  border: 2px solid var(--secondary);
  border-radius: 50%;
}

.name {
  width: min-content;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  font-family: var(--font-leagueSpartan);
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.menuOpened {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--menu-opened);
  color: inherit;
  padding: 2.4rem 1.6rem;
  z-index: 100;
  animation: fadeIn 300ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.close {
  display: block;
  margin-left: auto;
  cursor: pointer;
  transition: all 600ms ease;
}

.close:hover {
  opacity: .7;
}

.links {
  display: none;
}

.link {
  font-size: 1.2rem;
  transition: all 300ms ease;
}

.menuOpened .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 40px;
}



.menuOpened .link {
  font-size: 1.5rem;
}

.menuOpened .link:hover {
  transform: scale(1.1);
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .logoContainer {
    flex-direction: row;
    gap: 0.5rem;
  }
  .name {
    width: auto;
    font-size: 1.5rem;
  }

  .menu {
    gap: 3rem;
  }
}

@media (min-width: 1440px) {
  .hamburguer {
    display: none;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .link:hover {
    transform: scale(1.08);
    color: var(--link);
  }
}
